{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock %}
{% block content %}
<div class= "book">
    <div class= "image">
        <img src="{{books.cover.url}}">
    </div>
    <div class= "detailes">
       <h1>{{ books.name }}</h1>
       <h3><b>Author:</b>{{books.authors}}</h3>
       <h3><b>Published on:</b>{{books.publi_date}}</h3>
       <h3>genre:{{books.genre}}</h3>
       {% if books.n_read != 0 %}
       <h4><b>Read by:</b> {{ books.n_read }} users</h4>
       {% endif %}
       {% if books.availabel != 0 %}
       <h3 style="color: limegreen;">{{books.available}} available</h3>
       <h5>Rent now to get 10 days rent duration</h5>
       <a href="#"> <!--add oeder form reference path-->
        <button class="button">RENT</button>
       </a>
       {% else %}
       <h3 style="color: orange;">currently unavalable</h3>
       <h5>will be available soon</h5>
       {% endif %}
    </div>

</div>
<div class="description">
    <h2>Description</h2>
    <p>{{books.description}}</p>
</div>
<div class="comments">
        <h2 style="text-align: center;">Reviews</h2>
        {% if count == 0 %}
        <h3 style="text-align: center;">No Reviews Yet</h3>
    {% else %}
    <div class="row">
        {% for cmt in comments %}
        <div class="card">
            <b>{{cmt.user.name}}:</b>
            <p>{{cmt.comment}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}