{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    
<style>
    
    .main_name {
        /* background-color: rgb(120, 128, 15); */
        width: 30%;
        text-align: right;
        margin-top: 15%;
        float: left;
    }

    .main_head {
        font-size: 60px;
        /* font-family: 'Brush Script MT', cursive; */
        color: rgb(233, 229, 229);
        margin-top: 0px;
        /* top: 0px; */
        margin-bottom: 0px;
        /* bottom: 0px; */

        /* background-color: tomato; */
    }

    body {
        background-image: url("{% static 'images/home.jpg' %}");
        height: 100%;
        background-size: cover;
    }

    .home_top {
        background-color: transparent;
        height: 100px;
        top: 10px;
    }

    #search_m {
        margin: 2%;
        text-decoration: none;
        background-color: rgb(230, 186, 134);
        font-size: 120%;
        padding: 2%;
        padding-left: 5%;
        text-align: center;
        padding-right: 5%;
        width: 50%;
        border-radius: 5px;
        margin-top: 5%;
        margin-left: 30%;
        color: black;
    }
    #main_name {
    font-size: 230%;
    font-weight: 550;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.8%;
}
#main_name:hover {
    color: rgb(255, 255, 255);
}
    
    #main_bks {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #main_bks:hover {
    color: rgb(255, 255, 255);
    }
    
    #main_prof {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #main_prof:hover {
    color: rgb(255, 255, 255);
    }
    
    #main_in {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #main_in:hover {
    color: rgb(255, 255, 255);
    }
    
    #main_reg {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #main_reg:hover {
    color: rgb(255, 255, 255);
    }
    
    #main_out {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #main_out:hover {
    color: rgb(255, 255, 255);
    }
    
    #admin {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #admin:hover {
    color: rgb(255, 255, 255);
    }
    
    #auths {
    font-size: 170%;
    /* background-color: cornsilk; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    color: rgb(209, 204, 204);
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    }
    #auths:hover {
    color: rgb(255, 255, 255);
    }

</style>
{% endblock %} 


{% block content %}
<div class="main_name">
    <p class="main_head">Welcome to</p>
    <p class="main_head">Get Your Book</p>
    <a href="/book_main/" style="text-decoration: none;">
        <p id="search_m">Search for our book</p>
    </a>
    <!-- <a href="/profile/" style="text-decoration: none;">
        <p id="search_m">Get To Your Profile</p>
    </a> -->
    {% if request.user.is_authenticated %}
            <a href="/profile/" style="text-decoration: none;"><p id="search_m">Go to your profile</p></a>
        {% else %}
            <a href="/accounts/login/" style="text-decoration: none;"><p id="search_m">Go to your profile</p></a>
    {% endif %}

</div>
    
{% endblock %}
